/* Responsive Mobile*/
@media (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.9s ease-in-out;
  }
  .navigation {
    display: none;
  }
  #navbar ul {
    flex-direction: column;
  }
  #navbar ul li {
    font-size: 1rem;
  }
  #navbar ul li a {
    padding: 0 10px;
  }
  .logo {
    margin: 12px 10px;
    display: none;
  }
  .logo img {
    height: 35px;
  }

  #home p {
    font-size: 1rem;
    padding: 10px;
  }
  #home h1 {
    margin: 20px;
    font-size: 2.8rem;
  }
  .box {
    flex-direction: column;
  }
  .card {
    margin: 20px 40px;
  }

  .logos {
    flex-direction: column;
  }

  #sponsors,
  #sponsors::before {
    height: 100%;
  }
  .contact-box form {
    margin: 10px;
  }
  .burger {
    display: block;
  }
  .menu {
    display: flex;
  }
  .h-nav {
    height: 72px;
  }
  .vclass {
    height: 240px;
  }
}

/* Responsive TABS */
@media (min-width: 769px) and (max-width: 1023px) {
  #home {
    justify-content: flex-end;
  }
  .btn1 {t

    margin: 10px;
  }
  .logos img {
    margin: 5px;
  }
  .box {
    flex-direction: column;
  }
}
